{
  email simjenner3@gmail.com
}

stats.spacexlaunchbot.dev {
  header {
    X-Clacks-Overhead "GNU Terry Pratchett"
    Cache-Control max-age=300 # 5 minutes
  }
  log {
    output file /var/log/caddy/stats.spacexlaunchbot.dev.access.log
  }
  reverse_proxy stats-server:8080
}